<p>button-bar works!</p>


<button (click)="game.start_game()" class="btn btn-light">start</button>
<button (click)="game.one_step()" class="btn btn-light">one step</button>
<button (click)="game.stop_game()" class="btn btn-light">stop</button>
<button (click)="game.get_template('pentadecathlon')" class="btn btn-light">Penta-decathlon</button>
<button (click)="game.get_template('spacefiller1')" class="btn btn-light">spacefiller1</button>
<button (click)="game.debug_set_grid(window.prompt('enter'))">debug</button>

