<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#common">Common</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#user">User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#save">Save</a>
  </li>
</ul>
<div class=" col-xl-8 col-10">
  <div class="input-group mb-3">
    <span class="input-group-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
      <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
      </svg>
    </span>
  <input type="text" placeholder="filter list" class="form-control" id="filtre" [formControl]="list_filter">
  </div>
</div>
<br/>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="common">
    <div class="overflow-auto col-xl-10" style="max-height: 80vh;min-height: 80vh;">

        <div *ngFor="let template of templates_list | filterRegex:list_filter.value"
             class="card text-white bg-secondary "
        (click)="clickCommonTemplate(template)">
          <div class="card-header">{{template.name}}</div>
          <div class="card-body">
            <div *ngIf="template.image">
              <img [src]="template.image" class="thumb">
            </div>
          </div>
        </div>

    </div>

  </div>


  <div class="tab-pane fade" id="user" style="max-height: 80vh;min-height: 80vh;">
<div style="padding-bottom: 10px;" class="col-xl-10">
  <div>
    username
    <div class="form-check form-switch"  style="display: inline-flex;">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" [formControl]="searchSelectorForm" (change)="changeSearchType()">
    </div>
    pattern
  </div>
  <div class="">
    <input type="text" placeholder="Search input" class="form-control" id="searchInput" [formControl]="searchInputForm">
  </div>
</div>

    <div class="overflow-auto col-xl-10" style="max-height: 70vh;min-height: 70vh;">
      <div *ngFor="let template of user_templates_list | filterRegex:list_filter.value" class="card text-white bg-secondary"
           (click)="clickUserTemplate(template)">
        <div class="card-header">{{template.name}} - {{template.owner}}</div>
        <div class="card-body">
          <div *ngIf="template.image">
            <img [src]="template.image" class="thumb">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="save" style="max-height: 50vh;min-height: 50vh;">
    <div class="card text-white bg-dark col-xl-10 "  >
      <div class="card-header">Save Pattern</div>
      <div class="card-body" style="padding: 10px">
        <div class="row">
          <label  style="align-self: center;">Username:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
            </span>
            <input type="text" placeholder="Username" class="form-control" [required]="true" required id="username" [formControl]="saveUsernameForm">
          </div>
        </div>
        <br/>
        <div class="row">
          <label  style="align-self: center;">Pattern name:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13zM1.5 1a.5.5 0 0 0-.5.5V5h4V1H1.5zM5 6H1v4h4V6zm1 4h4V6H6v4zm-1 1H1v3.5a.5.5 0 0 0 .5.5H5v-4zm1 0v4h4v-4H6zm5 0v4h3.5a.5.5 0 0 0 .5-.5V11h-4zm0-1h4V6h-4v4zm0-5h4V1.5a.5.5 0 0 0-.5-.5H11v4zm-1 0V1H6v4h4z"/>
              </svg>
            </span>
            <input type="text" placeholder="Pattern name" class="form-control" [required]="true" required id="patternname" [formControl]="savePatternForm">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="saveImageCheck" checked="" name="saveImageCheck"  [formControl]="saveImageCheckboxForm">
          <label class="form-check-label" for="saveImageCheck">
            save thumbnail
          </label>
        </div>
        <div class="" style="text-align: center">
          <button class="btn btn-light " style="margin-top: 20px;" (click)="save()">Save</button>
        </div>
      </div>



    </div>
  </div>
</div>


