<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#common">Common</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#user">User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#save">Save</a>
  </li>
</ul>
<div class=" col-lg-6">
  <input type="text" placeholder="filter list" class="form-control" id="filtre" [formControl]="list_filter">
</div>
<br/>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="common">
    <div class="overflow-auto" style="max-height: 80vh;min-height: 80vh;">

        <div *ngFor="let template of templates_list | filterRegex:list_filter.value"
             class="card text-white bg-secondary col-lg-10"
        (click)="clickCommonTemplate(template)">
          <div class="card-header">{{template.name}}</div>
          <div class="card-body">
            <div *ngIf="template.image">
              <img [src]="template.image" class="thumb">
            </div>
          </div>
        </div>

    </div>

  </div>


  <div class="tab-pane fade" id="user" style="max-height: 80vh;min-height: 80vh;">
<div style="padding-bottom: 10px;" class="col-lg-10">
  <div>
    username
    <div class="form-check form-switch"  style="display: inline-flex;">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" [formControl]="searchSelectorForm" (change)="changeSearchType()">
    </div>
    pattern
  </div>
  <div class="">
    <input type="text" placeholder="Search input" class="form-control" id="searchInput" [formControl]="searchInputForm">
  </div>
</div>

    <div class="overflow-auto" style="max-height: 70vh;min-height: 70vh;">
      <div *ngFor="let template of user_templates_list | filterRegex:list_filter.value" class="card text-white bg-secondary col-lg-10"
           (click)="clickUserTemplate(template)">
        <div class="card-header">{{template.name}} - {{template.owner}}</div>
        <div class="card-body">
          <div *ngIf="template.image">
            <img [src]="template.image" class="thumb">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="save" style="max-height: 50vh;min-height: 50vh;">
    <div class="card text-white bg-dark col-8 "  >
      <div class="card-header">Save Pattern</div>
      <div class="card-body" style="padding: 10px">
        <div class="row">
          <label  style="align-self: center;">Username:</label>
          <div>
            <input type="text" placeholder="Username" class="form-control" id="username" [formControl]="saveUsernameForm">
          </div>
        </div>
        <br/>
        <div class="row">
          <label  style="align-self: center;">Pattern name:</label>
          <div >
            <input type="text" placeholder="Pattern name" class="form-control" id="patternname" [formControl]="savePatternForm">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="saveImageCheck" checked="" name="saveImageCheck"  [formControl]="saveImageCheckboxForm">
          <label class="form-check-label" for="saveImageCheck">
            save thumbnail
          </label>
        </div>
        <div class="" style="text-align: center">
          <button class="btn btn-light " style="margin-top: 20px;" (click)="save()">Save</button>
        </div>
      </div>



    </div>
  </div>
</div>


